<h1>Questions#ask</h1>
<p>Find me in app/views/questions/ask.html.erb</p>

<div class="container p-5 d-flex flex-column" style="max-width : 700px;">
  <form class="d-flex justify-content-between" action="answer" data-turbo="false">
    <input class="form-control m-1" type="text" name="question">
    <input class="btn btn-success m-1" type="submit" value="Ask!">
  </form>
</div>
